<html>
	<head>
		<title>ALT-F1 Social Graph</title>
	</head>
	<body>
		{% include "javascriptsdk.html" %} <h1>Login via Facebook </h1>
		<div class="fb-login-button" scope="{{ FB_LOGIN_SCOPE }}" data-show-faces="true" data-width="200" data-max-rows="1">
			Login with Facebook
		</div>
		<h1>Registration + request some data</h1>
		<div class="fb-registration"
		data-fields="[{'name':'name'}, {'name':'email'},	{'name':'favorite_car','description':'What is your favorite car?', 'type':'text'}]"
		data-redirect-uri="{{ URL_TO_LOAD_AFTER_REGISTRATION }}"></div>
		<h1>Like button</h1>
		<iframe src="https://www.facebook.com/plugins/like.php?href={{APP_URL}}"
		scrolling="no" frameborder="0"
		style="border:none; width:450px; height:80px"></iframe>
		<h1>Activity feed</h1>
		<div class="fb-activity" data-ref="homepage" data-site="{{ SITE }}" data-app-id="{{ FB_APP_ID }}" data-width="300" data-height="300" data-header="true" data-recommendations="true"></div>
		<h1>Recommendations</h1>
		<div class="fb-recommendations" data-ref="homepage" data-site="{{ SITE }}" data-app-id="{{ FB_APP_ID }}" data-width="300" data-height="300" data-header="true"></div>
	</body>
</html>
